include README.md
include LICENSE.md
include requirements.txt
include requirements-dev.txt
include polars_datareader/*.py

include polars_datareader/tests/*.py
include polars_datareader/tests/data/*
include versioneer.py
include polars_datareader/_version.py
